@inherits LayoutComponentBase

<div class="main-container">
    <header>
        <NavMenu />
    </header>

    <main>
        @Body
    </main>

</div>
<footer>
        <p>Av Maria Halvarsson - Kontakta mig via e-post: maha2216@@student.miun.se</p>
</footer>
