<nav class="nav">
    <ul class="navList">
        <li class="listItem">
            <NavLink href="/" Match="NavLinkMatch.All">
                Startsida
            </NavLink>
        </li>
        <li class="listItem">
            <NavLink href="conversion">
                Konventering
            </NavLink>
        </li>
        <li class="listItem">
            <NavLink href="json">
                JSON
            </NavLink>
        </li>
    </ul>
</nav>
