@page "/"

<PageTitle>Startsida</PageTitle>

<h1>Startsidan</h1>

<WelcomeMessage Name = "Läsare"/>

<p> Denna webbplats är skapad med Blazor WebAssembly. </p>
<p>På denna webbplats kan du bland annat konventera meter till foot eller km/h till miles/hour. Eller varför inte kolla på alla fruker under JSON?</p>